<style>
  input.ng-dirty.ng-invalid {border: 2px solid red}
  input.ng-dirty.ng-valid {border: 3px solid green}
</style>

<div class="m-2">
  model danych: {{ jsonProduct }}
  <div class="bg-info text-white p-2">
    Wybrany produkt: {{ selectedProduct || '(brak)' }}
  </div>
  <form novalidate [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div
      class="bg-danger text-white p-2 mt-2"
      *ngIf="formSubmitted && formGroup.invalid"
    >
      Wystąpiły błędy w formularzu
    </div>
    <div class="form-group">
      <label>Produkt</label>
      <input class="form-control" name="name" formControlName="name" />
      <ul
        class="text-danger list-unstyled"
        *ngIf="
          (formSubmitted || formGroup.controls['name'].dirty) &&
          formGroup.controls['name'].invalid
        "
      >
        <li *ngFor="let error of formGroup.getValidationMessages()">
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="form-group">
      <label>Cena</label>
      <input class="form-control" name="price" formControlName="price" />
      <ul
        class="text-danger list-unstyled"
        *ngIf="
          (formSubmitted || formGroup.controls['price'].dirty) &&
          formGroup.controls['price'].invalid
        "
      >
        <li *ngFor="let error of formGroup.getFormValidationMessages('price')">
          {{ error }}
        </li>
      </ul>
    </div>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="formSubmitted && formGroup.invalid"
      [class.btn-secondary]="formSubmitted && formGroup.invalid"
    >
      Dodaj
    </button>
  </form>

  <table class="table table-sm table-bordered mt-1 text-dark">
    <tr class="text-dark"></tr>
    <tr>
      <th></th>
      <th>Produkt</th>
      <th>Kategoria</th>
      <th>Cena</th>
    </tr>
    <tr
      *ngFor="let item of getProducts(); let index = index; trackBy: getKey"
      [class.bg-info]="getSelected(item)"
    >
      <td (mouseover)="selectedProduct = item.name">{{ index + 1 }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.price }}</td>
    </tr>
  </table>
  <div class="bg-info p-2">
    Cena po zaokrągleniu wynosi {{ getProductPrice(2) }} zł.
  </div>
  <div class="form-group">
    <label>Nazwa przedmiotu</label>
    <input class="form-control" [(ngModel)]="newProduct.name" />
  </div>
  <div class="form-group">
    <label>Kategoria</label>
    <input class="form-control" [(ngModel)]="newProduct.category" />
  </div>
  <div class="form-group">
    <label>Cena</label>
    <input class="form-control" [(ngModel)]="newProduct.price" />
  </div>
  <button class="btn btn-primary" (click)="addProduct(newProduct)">
    Dodaj
  </button>
</div>
